:root {
    --main-bg-color: rgb(19, 19, 19);
    --text-color: white;
    --header-height: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

header {
    position: fixed;
    background-image: linear-gradient(to bottom, var(--main-bg-color) 20%, transparent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 1em;
    width: calc(100% - 2em);
}

header img {
    height: var(--header-height);
}