:root {
    --main-bg-color: rgb(19, 19, 19);
    --text-color: white;
    --header-height: 2em;
    --banner-height: 10em;
    --side-margin: 5vw;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

body {
    margin: 0;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

header {
    position: fixed;
    background-image: linear-gradient(to bottom, var(--main-bg-color) 20%, transparent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 1em;
    width: calc(100% - 2em);
    z-index: 10;
}

header img {
    height: var(--header-height);
}

.banner {
    position: relative;
    max-height: 35em;
    overflow: hidden;
}

.banner ::after {
    background-color: red;
    background: linear-gradient(to bottom, var(--main-bg-color) 20%, transparent);
}

#banner {
    width: 100%;
}

.banner-contents {
    position: absolute;
    top: 50%;
    left: 1.5em;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 33%;
    height: auto;
    text-shadow: 0px 0px 3px black;
    font-size: 1vw;
}

.banner-title {
    font-size: 3em;
    font-weight:bold;
}

.banner-button {
    display: flex;
    flex: row;
    gap: 1em;
}

.banner button {
    background-color: rgba(88, 88, 88, 0.75);
    border: none;
    padding: 0.5em 2em 0.5em 2em;
    color: var(--text-color);
    font-size: 0.9em;
    font-weight:bold;
    border-radius: 0.3em;
    transition: background-color 0.5s;
}

.banner button:hover {
    cursor: pointer;
    background-color: rgba(88, 88, 88, 1);
}

.banner-description {
    font-weight:bold;
    font-size: 0.8em;
}

.categories {
    display: flex;
    flex-direction: column;
    margin-left: var(--side-margin);
    margin-top: 1vw;
}

.category {
    font-weight: 400;
    font-size: 1.5vw;
    margin-top: 1vw;
}

.posters {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 1vw;
    margin-left: -1.1vw;
    padding: 1.1vw;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster img {
    width: 14vw;
    transition: all 0.5s;
}

.poster img:hover {
    transform: scale(1.12);
}